@mixin inter($size, $weight) {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: calc($size / 16 * 1rem);
    color: #000000;
}

@mixin notojp($size, $weight) {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
    font-size: calc($size / 16 * 1rem);
}

$breakpoints: (
    medium: 768px,
    lg: 1024px,
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }
    }
}

;

.intro {
    width: 100%;
    margin-bottom: calc(120/16 * 1rem);

    @include respond-to(lg) {
        margin-bottom: calc(240/16 * 1rem);
    }

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;

        @include respond-to(lg) {
            padding: 0 40px;
        }
    }

    &__inner {

        @include respond-to(lg) {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: calc(20/16 * 1rem);
        }
    }

    &__content {

        @include respond-to(lg) {
            grid-column-start: 2;
            max-width: 700px;
            margin-right: auto;
        }
    }

    &__content-pc {
        display: none;
        position: relative;

        @include respond-to(lg) {
            display: block;
            overflow: hidden;
            width: fit-content;
            height: fit-content;
            
            .flex {
                display: flex;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: 2rem;
    }

    &__number {
        display: none;

        @include respond-to(lg) {
            display: block;
            @include inter(120, 600);
            font-size: min(120px, 11.43vw);
            letter-spacing: -0.04em;
            text-transform: capitalize;

            &--visible {
                transform: translateY(0);
                will-change: transform;
            }

            &--hidden {
                position: absolute;
                right: 0;
                transform: translateY(0);
                will-change: transform;
            }
        }
    }

    &__title {
        @include inter(32, 400);
        letter-spacing: -0.04em;
        text-transform: capitalize;

        @include respond-to(lg) {
            font-size: calc(40/16 * 1rem);
        }

        &--jp {
            @include notojp(32, 400)
        }
    }

    .dot {
        width: 7px;
        aspect-ratio: 1/1;
        background-color: #000000;
        border-radius: 50%;
    }

    &__text {
        @include inter(18, 300);
        color: #000000;
        line-height: 1.5;
        letter-spacing: -0.04em;
        margin-bottom: calc(24/16 * 1rem);

        @include respond-to(lg) {
            font-size: calc(22/16 * 1rem);
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--jp {
            @include notojp(16, 300);
            text-align: justify;
            line-height: 2;

            @include respond-to(lg) {
                font-size: calc(18/16 * 1rem);
            }
        }
    }

    .divider {
        margin: calc(40/16 * 1rem) 0;

        @include respond-to(lg) {
            margin: calc(64/16 * 1rem) 0;
        }
    }

    .skill-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: .5rem;

        @include respond-to(lg) {
            column-gap: 1rem;
            row-gap: 2rem;
        }

        &__item {
            list-style: none;
            border-radius: 20px;
            border: solid 1px #000000;
            padding: 8px 24px;
            @include inter(16, 300);
            color: #000000;
            letter-spacing: -0.04em;

            @include respond-to(lg) {
                font-size: calc(21/16 * 1rem);
                padding: 8px 32px;
            }
        }
    }
}
